/* .blue-text{
    color: blue;
    font-size: 24px;
}

.red-text{
    color: #ff0000;
    font-size: 26px;
}

#hello-world{
    text-decoration: underline;
}

#grocery-list {
    background-color: yellow;
    width: 50%;
}

#grocery-list li{
    width: 50vw;
    height: 10vh;
    background-color: green;
} */

